html
	head
		title Pug template
		
		
	body
		h1 PUG 🌒

		p Clean and Classy!

		h2 Text and Comments
		p Text inside <em>paragraph</em> tag
		p
			| Multi
			| Line
		p.
			Another way for large
			bodies of text!